[submodule "SolanaSwift"]
	path = SolanaSwift
	url = git@github.com:p2p-org/solana-swift.git
[submodule "BEPureLayout"]
	path = BEPureLayout
	url = git@github.com:bigearsenal/BEPureLayout.git
[submodule "LazySubject"]
	path = LazySubject
	url = git@github.com:bigearsenal/LazySubject.git
[submodule "BECollectionView"]
	path = BECollectionView
	url = git@github.com:bigearsenal/BECollectionView.git
[submodule "FeeRelayerSwift"]
	path = FeeRelayerSwift
	url = git@github.com:p2p-org/FeeRelayerSwift.git
