<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT_FF</key>
	<string>$(DEFAULT_FF)</string>
	<key>AMPLITUDE_API_KEY</key>
	<string>$(AMPLITUDE_API_KEY)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>P2P Wallet</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CRYPTO_COMPARE_API_KEY</key>
	<string>$(CRYPTO_COMPARE_API_KEY)</string>
	<key>FEE_RELAYER_ENDPOINT</key>
	<string>$(FEE_RELAYER_ENDPOINT)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOONPAY_PRODUCTION_API_KEY</key>
	<string>$(MOONPAY_PRODUCTION_API_KEY)</string>
	<key>MOONPAY_STAGING_API_KEY</key>
	<string>$(MOONPAY_STAGING_API_KEY)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>35.234.120.240:9090</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This is required for the app to read wallet addresses from QR codes.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This is required for the app to authenticate user with TouchID or FaceID.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This is required for the app to save generated QR codes or back up of your seed phrases to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This is required for the app to send photos</string>
	<key>RPCPOOL_API_KEY</key>
	<string>$(RPCPOOL_API_KEY)</string>
	<key>TEST_ACCOUNT_SEED_PHRASE</key>
	<string>$(TEST_ACCOUNT_SEED_PHRASE)</string>
	<key>TRANSAK_HOST_URL</key>
	<string>$(TRANSAK_HOST_URL)</string>
	<key>TRANSAK_PRODUCTION_API_KEY</key>
	<string>$(TRANSAK_PRODUCTION_API_KEY)</string>
	<key>TRANSAK_STAGING_API_KEY</key>
	<string>$(TRANSAK_STAGING_API_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
