<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>MVVM-C with UIKit and SwiftUI</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The scene name</string>
			<key>Identifier</key>
			<string>scene</string>
			<key>Name</key>
			<string>Scene name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_scene:identifier___View</string>
			<key>Description</key>
			<string>The View name</string>
			<key>Identifier</key>
			<string>viewName</string>
			<key>Name</key>
			<string>View name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_scene:identifier___ViewModel</string>
			<key>Description</key>
			<string>The ViewModel&apos;s name</string>
			<key>Identifier</key>
			<string>viewModelName</string>
			<key>Name</key>
			<string>viewModelName</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_scene:identifier___Coordinator</string>
			<key>Description</key>
			<string>The Coordinator&apos;s name</string>
			<key>Identifier</key>
			<string>coordinatorName</string>
			<key>Name</key>
			<string>coordinatorName</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>A scene with view controller, view model</string>
</dict>
</plist>
